* {
  font-family: "poppins"
}

#body-stuff{
margin-top:75px;
margin-bottom:100px;
}

#rest{
    background-image: url("paper_2.png");
    
}


  #contact-main{
    width: 1000px;
    height: auto;
    padding: 5%;
  background-color:#80929b;
    border-radius: 50px 50px;
  }

#name-label{
margin: 3%;
height: 50px;
width: 500px;
border-radius: 50px 50px;
outline: none;
border: none;
text-align: center;
} 

#mail-label{
margin: 3%;
height: 50px;
width: 500px;
border-radius: 50px 50px;
outline: none;
border: none;
text-align: center;
}

#subject-label{
margin: 3%;
height: 50px;
width: 500px;
border-radius: 50px 50px;
outline: none;
border: none;
text-align: center;
}

#text-label{
margin: 3%;
width: 500px;
outline: none;
border: none;
text-align: center;
}

#submit-label{
margin: 3%;
height: 50px;
width: 500px;
border-radius: 50px 50px;
outline: none;
border: none;
text-align: center;
color: white;
cursor: pointer;
transition: background-color 0.6s ease;
background-color: black;
}
#submit-label:hover{
  color: black;
  background-color: white;
}
#email a{
  	color:  #f0f0f0;
    text-decoration: none;
}

@media only screen and (max-width: 1100px) {
  #contact-main{
    margin: 40px;
    width: auto;
  }
}

@media only screen and (max-width: 700px) {
  #contact-main{
    width: auto;
    height: auto;
  }

  #name-label, #mail-label, #subject-label, #submit-label{
    height: 100px;
    width: 300px;
  }
 #text-label{
    height: 200px;
    width: 300px;
 }
}

@media only screen and (max-width: 450px) {
  #contact-main{
    padding: 5%;
  }
  #name-label, #mail-label, #subject-label, #submit-label{
    height: 50px;
    width: 200px;
  }
 #text-label{
    height: 300px;
    width: 200px;
 }
}


.parallax2{
	/* The image used */
  background-image: url("phone.png");
    filter: blur(7px);
  -webkit-filter: blur(7px);
  width: 100%;
  /* Set a specific height */
  min-height: 700px; 
  position: relative;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
		z-index: -10000000;
}

#text2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	color: white;
	z-index: -10000;
}